<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-navigation></app-navigation>
    </div>
    <div class="col-md-9">
      <app-phases-nav></app-phases-nav>
      <app-project-init-form></app-project-init-form>
      <app-requirments-form></app-requirments-form>
      <app-design-form></app-design-form>
      <app-project-init-view></app-project-init-view>
      <app-requiremet-view></app-requiremet-view>
      <app-desgin-view></app-desgin-view>
      <app-update-project-init-form></app-update-project-init-form>
      <app-update-requirments-form></app-update-requirments-form>
      <app-update-desgin-form></app-update-desgin-form>
    </div>
  </div>
</div>